server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  # Local onde o Promtail guarda o "histórico" de onde parou de ler cada log
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: docker
    docker_sd_configs:
      - host: unix:///var/run/docker.sock
        refresh_interval: 5s
    
    # "Relabeling" é como o Promtail adiciona "etiquetas" (labels) aos logs
    relabel_configs:
      - source_labels: ['__meta_docker_container_name']
        regex: '/(.*)' 
        target_label: 'container'
      - source_labels: ['__meta_docker_container_label_com_docker_compose_service']
        target_label: 'service'