server:
  http_listen_port: 3200

distributor:
  receivers:
    otlp:
      protocols:
        grpc:
        http:

storage:
  trace:
    backend: local
    local: /tmp/tempo/traces

ingester:
  max_block_duration: 5m
  max_traces_per_block: 100
