
server:
  http_listen_port: 3200

# Configuração de quem pode enviar dados
distributor:
  receivers:
    otlp: 
      protocols:
        grpc:
        http:

# Configuração do armazenamento
storage:
  trace:
    backend: local
    local:
      path: /tmp/tempo/traces

